node_modules/
.direnv/
.devbox/
.vscode/
.envrc
.cache
.merlin
.bsb.lock
*.res.js
.DS_Store
/_esy
/_build
/_release
/lib/lib/
/examples/lib/
/scripts/aws.env
/scripts/aws.pem
rescript-logger-ppx.install
